{% extends "base.html" %} {% block title %}Insert Data{%endblock %} {% block content %}

   <div style="padding-left: 10%">
   <h2>Profile Options</h2>
   <font size=5>
   <p> Edit Address </p>
   <form action="address/" method="post">{% csrf_token %}
   Street Address 1: <input type="text" name="st1" required><br>
   Street Address 2 (Optional): <input type="text" name="st2"><br>
   City: <input type="text" name="c" required><br>
   State: <input type="text" name="st" required><br>
   ZIP: <input type="text" name="zip" required><br>
   <p> {{msg}} </p>
   <input type="submit" name='action' value="Update" />
   </form>
   <br><br>
</div>
{% endblock %}
